body {
  background: #f8f8f7;
}

body, button, input, select, textarea {
  font: 12px Tahoma, Geneva, sans-serif, "Microsoft Yahei";
  color: #333;
}

input {
  border: 0;
  outline: none;
}

input::-webkit-input-placeholder {
  color: #999;
}

.wrap {
  width: 940px;
  margin: 0 auto;
}

header {
  background-color: #fff;
  border-bottom: 1px solid #f3f3f3;
  margin-bottom: 40px;
}

header .wrap {
  height: 90px;
  overflow: hidden;
}

header a {
  display: block;
  width: 180px;
  height: 54px;
  margin: 20px 0 0 15px;
  background: url("../images/logo_lo.png") no-repeat 0 0;
}

.content .wrap {
  overflow: hidden;
}

.content .con-left {
  float: left;
  margin-top: 78px;
}

.content .con-left img {
  width: 538px;
  height: 362px;
}

.content .con-right {
  float: right;
  width: 400px;
  height: 480px;
  box-shadow: 0 1px 3px rgba(100, 100, 100, 0.1);
  background-color: #fff;
  position: relative;
}

.content .con-right .right-top {
  height: 57px;
}

.content .con-right .right-top h2 {
  font-size: 16px;
  color: #666666;
  position: absolute;
  height: 25px;
  line-height: 25px;
  top: 18px;
  font-weight: normal;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.content .con-right .right-top h2:nth-of-type(1) {
  left: 44px;
}

.content .con-right .right-top h2:nth-of-type(2) {
  left: 146px;
}

.content .con-right .right-top .active {
  font-size: 18px;
}

.content .con-right .right-top .active::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 4px;
  background: #fecd4a;
  border-radius: 1px;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
}

.content .con-right .logone {
  width: 350px;
  height: 374px;
  margin: 30px 0 0 45px;
  display: none;
}

.content .con-right .logone #prompt {
  height: 17px;
  padding-left: 10px;
  padding-bottom: 18px;
  color: #e2483c;
  line-height: 17px;
}

.content .con-right .logone > button {
  width: 312px;
  height: 42px;
  background: #fecd4a;
  color: #141414;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  line-height: 42px;
  font-size: 14px;
  outline: none;
  border: 0;
}

.content .con-right .logone .ipt1 {
  width: 312px;
  height: 20px;
  padding: 12px 0;
  position: relative;
  margin-top: 20px;
  border-bottom: 1px solid #f0f0f0;
}

.content .con-right .logone .ipt1 > input {
  width: 179px;
  height: 20px;
  position: absolute;
  left: 120px;
  top: 10px;
  padding: 5px 0px 5px 10px;
  background-color: #e8f0fe;
  font-size: 14px;
  line-height: 20px;
}

.content .con-right .logone .ipt1 .ph-style::-webkit-input-placeholder {
  color: red;
}

.content .con-right .logone .area {
  position: absolute;
  width: 88px;
  height: 28px;
  left: 0px;
  top: 10px;
  padding-right: 17px;
  border-right: 1px solid #f0f0f0;
}

.content .con-right .logone .area > input {
  font-size: 14px;
  line-height: 20px;
  color: #555;
  width: 84px;
  height: 20px;
  padding: 4px 6px;
  margin-bottom: 10px;
}

.content .con-right .logone .ipt2 {
  width: 312px;
  height: 20px;
  padding: 15px 0;
  border-bottom: 1px solid #f0f0f0;
  margin: 25px 0 15px;
  position: relative;
}

.content .con-right .logone .ipt2 > input {
  width: 150px;
  height: 20px;
  color: #555;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
}

.content .con-right .logone .ipt2 .ph-style::-webkit-input-placeholder {
  color: red;
}

.content .con-right .logone .ipt2 > span {
  position: absolute;
  width: 116px;
  height: 20px;
  right: 10px;
  top: 20px;
  color: #488040;
  font-size: 14px;
}

.content .con-right .logtwo {
  width: 350px;
  height: 374px;
  margin: 30px 0 0 45px;
  display: none;
}

.content .con-right .logtwo > button {
  width: 312px;
  height: 42px;
  background: #fecd4a;
  color: #141414;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  line-height: 42px;
  font-size: 14px;
  outline: none;
  border: 0;
}

.content .con-right .logtwo .ipt1 {
  width: 312px;
  height: 20px;
  padding: 12px 0;
  position: relative;
  margin-top: 20px;
  border-bottom: 1px solid #f0f0f0;
}

.content .con-right .logtwo .ipt1 > input {
  width: 179px;
  height: 20px;
  position: absolute;
  left: 120px;
  top: 13px;
  font-size: 14px;
  line-height: 20px;
}

.content .con-right .logtwo .ipt1 .ph-style::-webkit-input-placeholder {
  color: red;
}

.content .con-right .logtwo .area {
  position: absolute;
  width: 88px;
  height: 28px;
  left: 0px;
  top: 10px;
  padding-right: 17px;
  border-right: 1px solid #f0f0f0;
}

.content .con-right .logtwo .area > input {
  font-size: 14px;
  line-height: 20px;
  color: #555;
  width: 84px;
  height: 20px;
  padding: 4px 6px;
  margin-bottom: 10px;
}

.content .con-right .logtwo .ipt2 {
  width: 312px;
  height: 20px;
  padding: 15px 0;
  border-bottom: 1px solid #f0f0f0;
  margin: 25px 0 15px;
  position: relative;
}

.content .con-right .logtwo .ipt2 > input {
  width: 260px;
  height: 20px;
  color: #555;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  background-color: #e8f0fe;
}

.content .con-right .logtwo .ipt2 .ph-style::-webkit-input-placeholder {
  color: red;
}

.content .con-right .logtwo .ipt2 > span:first-of-type {
  position: absolute;
  top: 27px;
  right: 13px;
  width: 9px;
  height: 4.5px;
  background: url(../images/hide.png);
  background-size: 100%;
}

.content .con-right .logtwo .ipt2 > span:last-of-type {
  position: absolute;
  top: 24px;
  right: 11px;
  width: 12px;
  height: 12px;
  background: url(../images/Eye.png);
  background-size: 100%;
  display: none;
}

.content .con-right .logtwo .forget {
  width: 303px;
  height: 17px;
  padding-left: 10px;
  padding-bottom: 18px;
  line-height: 17px;
  padding-bottom: 18px;
}

.content .con-right .logtwo .forget p {
  float: left;
  color: #e2483c;
}

.content .con-right .logtwo .forget a {
  float: right;
  line-height: 17px;
  color: #666;
}

.content .con-right .logtwo .forget a:hover {
  text-decoration: none;
}

.content .con-right .log-active {
  display: block;
}

.content .con-right .agreement {
  width: 312px;
  font-size: 12px;
  color: #999;
  margin-bottom: 20px;
  line-height: 76px;
  text-align: center;
}

.content .con-right .agreement input {
  vertical-align: middle;
  margin-right: 3px;
}

.content .con-right .agreement a {
  color: #12937c;
}

.content .con-right .otth span:nth-of-type(2) {
  padding-left: 30px;
}

.content .con-right .otth a {
  position: relative;
  display: inline-block;
  height: 50px;
  padding: 0 25px;
  line-height: 50px;
  color: #666;
}

.content .con-right .otth a .wx {
  background: url("../images/wx.png") no-repeat;
  background-size: 100%;
}

.content .con-right .otth a .qq {
  background: url("../images/qq.png") no-repeat;
  background-size: 100%;
}

.content .con-right .otth a .weibo {
  background: url("../images/weibo.png") no-repeat;
  background-size: 100%;
}

.content .con-right .otth a i {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 12px;
  left: -7px;
}

.content .con-right .otth a:hover {
  text-decoration: none;
}

footer {
  margin-top: 30px;
}

footer .clink {
  width: 940px;
  text-align: center;
  margin: 15px auto;
}

footer .clink a {
  color: #6b553f;
}

footer .cght {
  width: 940px;
  margin: 0 auto;
  color: #999;
  text-align: center;
}

footer .cght a {
  color: #999;
}

.marsk {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.marsk .mar-con {
  padding: 30px 54px;
  width: 300px;
  background: #fff;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.marsk .mar-con p {
  color: #e2483c;
  line-height: 30px;
  font-size: 14px;
}

.marsk .mar-con > div {
  margin: 10px 0 20px;
}

.marsk .mar-con > div input {
  border: 1px solid #ccc;
  height: 38px;
  width: 148px;
  line-height: 36px;
  font-size: 20px;
  text-align: center;
  padding: 4px 6px;
  margin-bottom: 10px;
  color: #555;
  border-radius: 4px;
  vertical-align: middle;
}

.marsk .mar-con > div span {
  display: inline-block;
  margin-left: 6px;
  text-align: center;
  width: 128px;
  line-height: 45px;
  font-size: 20px;
  letter-spacing: 3px;
}

.marsk .mar-con .msk-btn {
  color: #fff;
  outline: none;
  border: 0;
  display: block;
  width: 100%;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  background: #FECD4A;
  border-radius: 4px;
}
