body {
  background: #f8f8f7;
}

body, button, input, select, textarea {
  font: 12px Tahoma, Geneva, sans-serif, "Microsoft Yahei";
  color: #333;
}

.wrap {
  width: 1000px;
  margin: 0 auto;
}

.container {
  padding-top: 60px;
}

.container .person-info {
  height: 120px;
  margin: 40px 0 20px;
  padding-bottom: 40px;
}

.container .person-info > img {
  width: 120px;
  height: 120px;
  display: block;
  border-radius: 50%;
  margin-right: 12px;
  float: left;
}

.container .person-info .info-left {
  float: left;
  width: 480px;
  height: 97px;
}

.container .person-info .info-left h2 {
  margin-top: 9px;
  font-size: 20px;
  line-height: 24px;
}

.container .person-info .info-left i {
  width: 16px;
  height: 18px;
  background: url(../images/male.png) no-repeat;
  background-size: 100% 100%;
  display: block;
  margin: 8px 0 11px;
}

.container .person-info .info-left p {
  line-height: 16px;
  color: #666;
}

.container .person-info .info-right {
  float: right;
  width: 320px;
  height: 32px;
  padding: 15px 0;
  background: #F1F7FA;
}

.container .person-info .info-right .item {
  width: 79px;
  float: left;
  text-align: center;
  border-right: 1px solid #D1DFE6;
}

.container .person-info .info-right .item .count {
  font-size: 15px;
}

.container .person-info .info-right .item .text {
  margin-top: 4px;
}

.container .person-info .info-right .item:hover {
  color: #ffaa00;
}

.container .person-info .info-right .item:last-of-type {
  border-color: transparent;
}

.container .nav {
  width: 376px;
  height: 42px;
  margin-bottom: 34px;
}

.container .nav li {
  float: left;
  font-size: 14px;
  color: #383830;
  margin-right: 30px;
  height: 40px;
  line-height: 40px;
  border-bottom: 2px solid transparent;
}

.container .nav li:hover {
  color: #ffaa00;
}

.container .nav .active {
  font-weight: bold;
  border-color: #383830;
}

.container .content p {
  width: 1000px;
  margin: 80px 0 330px;
  font-size: 13px;
  text-align: center;
}

.container .fcc {
  font-size: 13px;
  line-height: 13px;
  padding: 80px 0 10px;
}
